/* Estilo base */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    background-image: url("img/FondoWeb.jpg");
  }
  
  
  
  .contenedor-formulario {
    width: 400px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Estilos para los grupos de campo */
  .grupo-campo {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #888;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input:focus {
    outline: none;
    border-color: #3498db;
  }
  
  /* Estilos para el botón */
  button {
    background-color: #3498db;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  img {
    width: 350px; 
    height: 200px; 
  }
  img {
    position: absolute; 
    top: -30px; 
    left: 5px 
  }
  
  
  
  